$TTL    10
@       IN      SOA     pxe.example.com. root (
        2017121901;
        1H;
        2D;
        3W;
        10 )
@       IN      NS      pxe.example.com.
@       IN      A       {{ pxe_host_ip }}

pxe	IN      A       {{ dns_example_ip }}.2
server11	IN      A       {{ dns_example_ip }}.11
server12	IN      A       {{ dns_example_ip }}.12
server13	IN      A       {{ dns_example_ip }}.13
server14	IN      A       {{ dns_example_ip }}.14
server15	IN      A       {{ dns_example_ip }}.15
server16	IN      A       {{ dns_example_ip }}.16
server17	IN      A       {{ dns_example_ip }}.17
server18	IN      A       {{ dns_example_ip }}.18
server19	IN      A       {{ dns_example_ip }}.19
server20	IN      A       {{ dns_example_ip }}.20
server21	IN      A       {{ dns_example_ip }}.21
server22	IN      A       {{ dns_example_ip }}.22
server23	IN      A       {{ dns_example_ip }}.23
server24	IN      A       {{ dns_example_ip }}.24
server25	IN      A       {{ dns_example_ip }}.25
server26	IN      A       {{ dns_example_ip }}.26
server27	IN      A       {{ dns_example_ip }}.27
server28	IN      A       {{ dns_example_ip }}.28
server29	IN      A       {{ dns_example_ip }}.29
server30	IN      A       {{ dns_example_ip }}.30
