$TTL    10
@       IN      SOA     pxe.example.com. root (
        2017121901;
        1H;
        2D;
        3W;
        10 )
@       IN      NS      pxe.example.com.


2	IN	PTR	pxe.example.com.
11	IN	PTR	server11.example.com.
12	IN	PTR	server12.example.com.
13	IN	PTR	server13.example.com.
14	IN	PTR	server14.example.com.
15	IN	PTR	server15.example.com.
16	IN	PTR	server16.example.com.
17	IN	PTR	server17.example.com.
18	IN	PTR	server18.example.com.
19	IN	PTR	server19.example.com.
20	IN	PTR	server20.example.com.
21	IN	PTR	server21.example.com.
22	IN	PTR	server22.example.com.
23	IN	PTR	server23.example.com.
24	IN	PTR	server24.example.com.
25	IN	PTR	server25.example.com.
26	IN	PTR	server26.example.com.
27	IN	PTR	server27.example.com.
28	IN	PTR	server28.example.com.
29	IN	PTR	server29.example.com.
30	IN	PTR	server30.example.com.
31	IN	PTR	server31.example.com.
32	IN	PTR	server32.example.com.
33	IN	PTR	server33.example.com.
34	IN	PTR	server34.example.com.
35	IN	PTR	server35.example.com.
36	IN	PTR	server36.example.com.
37	IN	PTR	server37.example.com.
38	IN	PTR	server38.example.com.
39	IN	PTR	server39.example.com.
40	IN	PTR	server40.example.com.
41	IN	PTR	server41.example.com.
42	IN	PTR	server42.example.com.
43	IN	PTR	server43.example.com.
44	IN	PTR	server44.example.com.
45	IN	PTR	server45.example.com.
46	IN	PTR	server46.example.com.
47	IN	PTR	server47.example.com.
48	IN	PTR	server48.example.com.
49	IN	PTR	server49.example.com.
50	IN	PTR	server50.example.com.
51	IN	PTR	server51.example.com.
52	IN	PTR	server52.example.com.
53	IN	PTR	server53.example.com.
54	IN	PTR	server54.example.com.
55	IN	PTR	server55.example.com.
56	IN	PTR	server56.example.com.
57	IN	PTR	server57.example.com.
58	IN	PTR	server58.example.com.
59	IN	PTR	server59.example.com.
60	IN	PTR	server60.example.com.
