# version=Eric-20171222-1.0

install

# System authorization information
authconfig --enableshadow --passalgo=sha512

# Use Network installation
url --url=http://{{ pxe_host_ip }}/centos69/
repo --name="CentOS"  --baseurl=http://{{ pxe_host_ip }}/centos69/ --cost=100

# Use text install
text

# Keyboard layouts
keyboard us

# System language
lang en_US.UTF-8

# Network information
network --onboot yes --device eth0 --bootproto dhcp --noipv6

# Root password
rootpw  --iscrypted $6$EWXZhDlthCo/Xi9.$/DPOL00C4fxdl5paoQ0f5xhVAcj4lkCW.uO8TyUMl5vD8PRq7pOSstqhEIu8q1XeZe0ckannr465v9jo3pzXA.

# System timezone
timezone --utc Asia/Taipei

# System services
services --disabled="chronyd,NetworkManager,postfix,kdump,iptables,ip6tables"
services --enabled="network"

selinux --disabled

# System bootloader configuration
bootloader --location=mbr --driveorder={{ disk_type }} --append="crashkernel=auto"

# Partition clearing information
clearpart --all
zerombr

%pre
# Disk partitioning information
echo "part / --fstype="ext4" --ondisk={{ disk_type }} --size=$(cat /proc/partitions | grep {{ disk_type }} | head -n 1 | awk '{print $3/1024-4096}')" >> /tmp/disk.cfg
echo "part swap --fstype="swap" --ondisk={{ disk_type }} --size=4095" >> /tmp/disk.cfg

%end

%include /tmp/disk.cfg

%packages
@core
@server-policy
@workstation-policy
bind-utils
vim
gcc
nc
lrzsz
lsof
telnet
mtr
ntpdate
nfs-utils
openssh-clients
net-tools
rsync
wget
iotop
sysstat
tcpdump
traceroute
man

%end

%post
chkconfig rpcbind off
echo "vm.swappiness = 1" >> /etc/sysctl.conf
echo "vm.overcommit_memory = 1" >> /etc/sysctl.conf
echo "net.ipv6.conf.all.disable_ipv6 = 1" >> /etc/sysctl.conf
echo "net.ipv6.conf.default.disable_ipv6 = 1" >> /etc/sysctl.conf
sed -i 's/#ListenAddress 0.0.0.0/ListenAddress 0.0.0.0/g' /etc/ssh/sshd_config

cat > /etc/sysconfig/network-scripts/ifcfg-eth0 <<EOF
DEVICE=eth0
TYPE=Ethernet
BOOTPROTO=dhcp
#IPADDR=
#NETMASK=
#GATEWAY=
ONBOOT=yes
IPV6INIT=no
NM_CONTROLLED=no
EOF

# sshkey
mkdir -p /root/.ssh/
echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCrMlAdGUQUyUKKFWQ/yjcxA7OKUIn5f6F3fOPzmsQ2/HtjvRj55d8gA75cdZG1ApCJ8wb1vHTIrV4GyIhV7z9MhS0tMpe4bSgVCm2es5URldKHX+LtB2vKPZBI3YfiDpCBBzxblRIsIxa1eBU0MRonPCtMihey0iQ3bJ6xpMAvmVBh3/+cgDdvBTu+cM/LxPPWFwOPwtgMxFwowN+AAS7ZUV/vUbhCQgs22Up/Nudz/cVqAfguwcoeLSGudkPsnwyyrJfA23EzCze2ofj56mNbb1r91ekkgz8Hi9tM6xGcXl7xqDn/TAhlHQ2mF1/bEa98irYOvtRi3erO5Ut0qwhP root@pxe.example.com" >> /root/.ssh/authorized_keys

# get init script
#mkdir -p /root/bin/
#curl -o /root/bin/c69-init.sh http://{{ pxe_host_ip }}/ks/c69-init.sh

# Add ntp crontab
echo "15 2,14 * * *    /usr/sbin/ntpdate {{ ntp_ip1 }}" >> /var/spool/cron/root
echo "16 2,14 * * *    /usr/sbin/ntpdate {{ ntp_ip2 }}" >> /var/spool/cron/root

# .vimrc
echo "set cursorline" >> /root/.vimrc
echo "set hlsearch" >> /root/.vimrc
echo "syntax on" >> /root/.vimrc

# Get git
#curl -o /usr/bin/git http://{{ pxe_host_ip }}/tools/git
#chmod 755 /usr/bin/git

#curl -o /etc/profile.d/git-completion.bash http://{{ pxe_host_ip }}/tools/git-completion.bash
#echo "source /etc/profile.d/git-completion.bash" >> /etc/profile

#curl -o /etc/profile.d/git.sh http://{{ pxe_host_ip }}/tools/git.sh


%end

reboot
